ion-buttons {
  display: flex;
  flex-direction: column;
}

ion-reorder {
  height: 100%;
}

.matrix-grid {
  --ion-grid-columns: 2;
  --ion-grid-padding: 2px;
  --ion-grid-column-padding: 2px;
}

.matrix-grid ion-card {
  margin: 0px;
}
