ion-buttons {
  display: flex;
  flex-direction: column;
}

.matrix-grid {
  --ion-grid-columns: 2;
  --ion-grid-padding: 2px;
  --ion-grid-column-padding: 2px;
  height: 100%;
}

.matrix-grid ion-row {
  height: 100%;
}

.matrix-grid ion-card {
  height: 100%;
  margin: 0px;
}

.drag-hover {
  outline-width: 2px;
  outline-style: solid;
}

.calendar-view-date-slider {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
}

.calendar-view-date-slider > button {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar-view-date-slider > button.selected {
  background-color: blue;
}

.group-label {
  font-style: italic;
  padding: 2px 10px;
}