ion-title {
  padding: 5px;
}

ion-reorder {
  margin: 0px;
  padding: 0 10px;
  height: 100%;
  align-content: center;
}

.selected-project div {
  font-style: italic;
}

.project-selection-button {
  height: 100%;
  width: 100%;
}

.project-selection-button > div {
  width: 100%;
  text-align: start;
}