ion-title {
  padding: 5px;
}

ion-reorder {
  margin: 0px;
  padding: 0 10px;
  height: 100%;
  align-content: center;
}

.menu-item div {
  text-decoration: none;
}

.selected-project div {
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.project-selection-button {
  height: 100%;
  width: 100%;
}

.project-selection-button > div {
  width: 100%;
  text-align: start;
}

ion-tab-button > ion-icon {
  transition: all 0.5s;
  border: 2px solid #00000000;
  padding: 5px;
  border-radius: 50%;
}

ion-tab-button.selected > ion-icon {
  border: 2px solid grey;
}