.done {
  color: gray;
  text-decoration: line-through;
}

ion-label {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.task-notes {
  width: 50%;
  font-style: italic;
  text-align: end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s;
}

.hidden {
  width: 0px;
}