ion-fab {
  position: absolute;
  margin-right: 20px;
  margin-bottom: calc(max(var(--ion-safe-area-bottom, 0), 75px));
}

.hidden {
  visibility: hidden;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ion-spinner {
  width: 30vh;
  height: 30vh;
  color: cadetblue;
}